<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="script.js"></script>
<style>
    span.done-true {
        color: gray;
        font-style: italic;
        text-decoration: line-through;
    }
    span[contenteditable="true"]{
        background: gray;
        padding: 3px;
    }

</style>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
    <h1 style="text-align:center; ">Add a Task</h1>
    <input ng-model="task" ng-keyup="searchEnter()" type="text" style="display:block; margin: 0 auto; padding: 5px; font-size: 15px; width: 300px;">
    <div id="tasksToShow">
        <ul>
            <li ng-repeat="oneTask in tasks track by $index" ng-checked="finishTask()">
                <input type="checkbox" ng-model="oneTask.status">
                <span contenteditable="false" ng-dblclick="contentEdit(oneTask.taskMessage)" ng-keyup="enterAgain(oneTask.taskMessage)" ng-model="oneTask.taskMessage" class="done-{{oneTask.status}}">
                    {{oneTask.taskMessage}}
                </span>
            </li>
        </ul>
    </div>
</div>

</body>
</html>