<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
<div ng-app="myApp" style="margin-top:100px">
    <form name="myForm" class="container form-horizontal" ng-controller="myCtrl">
        <div class="form-group" ng-class="{'has-error':myForm.username.$dirty&&myForm.username.$invalid}">
            <lable class="col-sm-2 control-label">UserName</lable>
            <div class="col-sm-10">
                <input type="text" name="username" class="form-control" placeholder="UserName"
                       ng-model="data.username" ng-required="true" ng-minlength="6" ng-maxlength="12"
                       ng-pattern="/^[a-zA-Z]{1}/">
                <div ng-show="myForm.username.$error.maxlength"
                     class="alert alert-danger help-block">
                    UserName's length cannot over 12
                </div>
                <div ng-show="myForm.username.$error.minlength"
                     class="alert alert-danger help-block">
                    UserName's length cannot less than 6
                </div>
                <div ng-show="myForm.username.$error.pattern"
                     class="alert alert-danger help-block">
                    UserName must start in Letter
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error':myForm.password.$dirty&&myForm.password.$invalid}">
            <lable class="col-sm-2 control-label">Password</lable>
            <div class="col-sm-10">
                <input type="password" name="password" class="form-control" placeholder="Password"
                       ng-model="data.password" ng-required="true" ng-minlength="6" ng-maxlength="30"
                       ng-pattern="/^[a-zA-Z]{1}/">
                <div ng-show="myForm.password.$error.maxlength"
                     class="alert alert-danger help-block">
                    Password's length cannot over 30
                </div>
                <div ng-show="myForm.password.$error.minlength"
                     class="alert alert-danger help-block">
                    UserName's length cannot less than 6
                </div>
                <div ng-show="myForm.password.$error.pattern"
                     class="alert alert-danger help-block">
                    Password must start in Letter
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error':myForm.confirmpassword.$dirty&&myForm.confirmpassword.$invalid}">
            <lable class="col-sm-2 control-label">Confirm Password</lable>
            <div class="col-sm-10">
                <input type="password" name="confirmpassword" class="form-control" placeholder="Confirm Password"
                       ng-model="data.confirmpassword" ng-required="true" ng-minlength="6" ng-maxlength="30">
                <div ng-show="myForm.confirmpassword.$error.maxlength"
                     class="alert alert-danger help-block">
                    Confirm Password's length cannot over 12
                </div>
                <div ng-show="myForm.confirmpassword.$error.minlength"
                     class="alert alert-danger help-block">
                    Confirm Password's length cannot less than 6
                </div>
                <div ng-show="myForm.password.$dirty&&myForm.confirmpassword.$dirty&&data.password !==data.confirmpassword"
                     class="alert alert-danger help-block">
                    Confirm Password's must be as same as password
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error':myForm.email.$dirty&&myForm.email.$invalid}">
            <lable class="col-sm-2 control-label">E-mail</lable>
            <div class="col-sm-10">
                <input type="text" name="email" class="form-control" placeholder="E-mail"
                       ng-model="data.email" ng-required="true" ng-minlength="6" ng-maxlength="30">
                <div ng-show="myForm.email.$error.maxlength"
                     class="alert alert-danger help-block">
                    E-mail's length cannot over 12
                </div>
                <div ng-show="myForm.email.$error.minlength"
                     class="alert alert-danger help-block">
                    E-mail's length cannot less than 6
                </div>
                <div ng-show="myForm.email.$error.email"
                     class="alert alert-danger help-block">
                    Please enter the E-mail format
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error':myForm.url.$dirty&&myForm.url.$invalid}">
            <lable class="col-sm-2 control-label">Url</lable>
            <div class="col-sm-10">
                <input type="text" name="url" class="form-control" placeholder="Url"
                       ng-model="data.url" ng-required="true" ng-minlength="6" ng-maxlength="30"
                >
                <div ng-show="myForm.url.$dirty&&myForm.url.$error.maxlength"
                     class="alert alert-danger help-block">
                    Url's length cannot over 12
                </div>
                <div ng-show="myForm.url.$dirty&&myForm.url.$error.minlength"
                     class="alert alert-danger help-block">
                    Url's length cannot less than 6
                </div>
                <div ng-show="myForm.url.$dirty&&myForm.url.$error.url"
                     class="alert alert-danger help-block">
                    Url's must start in Letter
                </div>
            </div>
        </div>

        <div class="form-class">
            <label class="col-sm-2 control-label">Gender</label>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" name="gender" ng-model="data.gender" value="1">M
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" ng-model="data.gender" value="0">F
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 control-label">Hobby</label>
            <div class="col-sm-10">
                <label class="checkbox-inline" ng-repeat="hobby in hobbies">
                    <input type="checkbox" ng-model="hobby.checked" name="hobby[]"
                           ng-checked="data.hobbies===undefined ?
                    false: data.hobbies.indexof(hobby.id) !== -1"
                           ng-click="toggleHobbySelection(hobby.id)"/> {{hobby.name}}
                </label>
            </div>
        </div>
    </form>
</div>
<script>
    angular.module('myApp', [])
        .controller('myCtrl', function ($scope) {
            var that = this;
            $scope.hobbies = [{
                id: 1,
                name: 'Running'
            },
                {
                    id: 2,
                    name: 'Coding'
                },
                {
                    id: 3,
                    name: 'Sleeping'
                }]
        });
</script>
</body>
</html>