<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Binding</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-app="myApp">
<!--
    view => 12345
    model=> 12345
      3 viwes
   data two way binding
-->
<input type="text" ng-model="name" value=""> {{name}} <!-- ng-model means the value of the current from -->
<input type="text" ng-model="name" value="">

<script>
    var app = angular.module('myApp',[]);
</script>
</body>
</html>