<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emit</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-app="myApp">
<div ng-controller="myCtrl-1" style="border: 2px solid #E75D5C; padding: 5px;">
    <h1>Parent Controller</h1>
    <p>Emit Message: {{message}}</p>
    <!--<input ng-model="msg2">
    <button ng-click="handleClick2(msg);">Boardcast</button>-->
    <br />
    <div ng-controller="myCtrl-2" style="border:2px solid #428bca;padding: 5px;">
<!--        <h1>Child Controller</h1>
        <p>Boardcast Message:{{message}}</p>-->
        <input ng-model="msg">
        <button ng-click="handleClick(msg);">Emit</button>
    </div>
</div>
<script>
    angular.module('myApp',[])
        .controller('myCtrl-1', ['$scope', function($scope){
            $scope.$on('eventName',function(event, args){
                $scope.message = args.message;
                console.log($scope.message);
            });

        }])
        .controller('myCtrl-2', ['$scope', function($scope){
            $scope.handleClick = function (msg) {
                $scope.$emit('eventName',{message:msg});

            };
        }]);
</script>
</body>
</html>