<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multi Controllers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
<div ng-app="myApp">
    <div ng-controller="myCtrl-1">
        <input type="text" value="" ng-model="name">

        <div ng-controller="myCtrl-2">
            <input type="text" value="" ng-model="name">
        </div>
    </div>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl-1', function ($scope) {
        //$scope
        //declare a Model
        $scope.name = 'Jerry';
        console.log($scope);
    });
    app.controller('myCtrl-2', function ($scope) {
        //no value in second controller
        console.log($scope);
    });
</script>
</body>
</html>